
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 95vh;
  border: 2px solid black;
  margin: 10px;
}

.chat-container div {
  margin: 5px 10px 5px 10px;
  padding: 10px;
}

.chat-log {
  flex: 1;
}

.chat-message-input input {
  font-size: 14px;
	width: 100%;
}

.chat-log {
  flex: 1;
  overflow-y: scroll;
}

.chat-username {
	  background-color: rgb(204, 218, 246);
	  border-radius: 10px;
	}

	.chat-log div {
	  background-color: rgb(238, 204, 205);
	  border-radius: 10px;
	}
	
	.chat-message-input div {
	  backgroud-color: rgb(220, 233, 213);
	  border-radius: 10px;
	}
	
		.chat-item {
	  margin: 10px 0 10px 0 !important;
	}

.chat-from-me {
  text-align: right;
  background-color: rgb(50, 50, 50) !important;
}
